.cndev__header {
	width: 100%;
	position: fixed;
	top: 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 70px;
	z-index: 10;

	@include tablet {
		padding: 10px 40px;
	}
	@include mobile {
		padding: 10px 20px;
	}
	&--inner {
		width: 135px;
		max-width: 1000px;
		border-radius: 50px;
		padding: 0 30px;
		transition: width 250ms linear, background 250ms linear;
	}
	&--content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&--nav {
		justify-content: flex-end;
		visibility: hidden;
		opacity: 0;    
		position: relative;
		transform: translateY(50px);
	}
	&--logo {
		justify-content: center;
		.cndev__svg {
			cursor: pointer;
		}
	}
	&--nav,
	&--nav ul {
		align-items: center;
		justify-content: center;
	}
	&--nav ul {
		gap: 30px;
		display: flex;
		transition: all 200ms linear;
		.cndev__section_link {
			cursor: pointer;
			font-size: 20px;
			font-weight: 100;
			text-transform: uppercase;
		}
	}
	&--scroll {
		visibility: hidden;
		opacity: 0;
		i {
			cursor: pointer;
		}
	}
}