/* Browser spacing reset */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Colors */ 
:root {
    --primary-color: #080708;
	--cndev-blue: #14213D;
	--cndev-darker-blue: #010b21;
	--cndev-red: #DF2935;
	--cndev-yellow: #FDCA40;
	--cndev-grey: #E6E8E6;
}
::selection {
	color: var(--primary-color);
	background: #fff;
}

/* Media queries functions */
@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: 481px) and (max-width: 1023px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}

/* Animations */
@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}
@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}
/* Styles */
section {
	padding-right: 70px;
	padding-left: 70px;

	@include tablet {
		padding-right: 50px;
		padding-left: 50px;
	}
	@include mobile {
		padding-right: 20px;
		padding-left: 20px;
	}
	article {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
	}
}
.section-title {
	text-align: center;
	font-size: 50px;
}

.cndev {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    min-height: 100dvh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

	&_adm {
		width: fit-content;
		height: 100px;
		position: fixed;
		z-index: 999999;
		top: 0;
		right: 20px;
		display: flex;
		align-items: center;

		ul {
			width: 100%;
			padding: 8px 14px;
			display: flex;
			gap: 12px;
			font-size: 16px;
			justify-content: space-between;
			backdrop-filter: blur(20px);
			background: #0807087a;
			border-radius: 20px;
			opacity: 0.5;
			transition: all 200ms linear;
		}
		ul:hover {
			opacity: 1;
		}
	}

	&_button {
		padding: 10px 14px;
		border: 1px solid #fff;
		border-radius: 30px;
		cursor: pointer;
		transition: all 200ms linear;
		backdrop-filter: blur(20px);
		&:hover {
			box-shadow: 0 0 2px 2px var(--primary-color);
			background: #fff;
			color: var(--primary-color);
		}
		&.active {
			background: #fff;
			color: var(--primary-color);
		}
	}

    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
		transition: all 200ms linear;
    }

	&_social_icons {
		a {
			border-radius: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 200ms linear;
			font-size: 24px;
			position: relative;
			padding: 8px 10px;

			span {
				font-family: monospace;
				font-size: 20px;
				position: relative;
				margin-left: -75px;
				visibility: hidden;
				top: 0;
				left: 0;
				width: auto;
				opacity: 0;
				transition: margin 100ms linear, opacity 100ms 100ms linear;
			}

			&:hover {
				color: var(--primary-color);
				background: #fff;
				gap: 8px;
				padding: 8px 14px;

				span {
					visibility: initial;
					margin-left: 0;
					opacity: 1;
				}
			}
		}
	}

    &_particles {
        position: fixed;
        top: 0;
        left: 0;
		z-index: -2;
        width: 100%;
        height: 100%;
        // background: linear-gradient(180deg, #21211b 0%, #0f0f0f 45%);

		.overlay {
			&.top {
				position: fixed;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				z-index: -2;
				background: linear-gradient(180deg, #21211b 0%, #0f0f0f 45%);
			}
			&.bottom {
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(8, 7, 8, 0.7960784314) 50%, var(--cndev-darker-blue) 100%);
				z-index: -1;
			}
		}
        canvas {
            display: block;
			position: relative;
			z-index: -2;
        }
    } // &_particles - END

    &_header {
        width: 100%;
        position: fixed;
        top: 0;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 70px;
		z-index: 10;

        @include tablet {
            padding: 10px 40px;
        }
        @include mobile {
            padding: 10px 20px;
        }
		&--inner {
			width: 135px;
			max-width: 1000px;
			border-radius: 50px;
			padding: 0 30px;
			transition: width 250ms linear, background 250ms linear;
		}
        &--content {
            width: 100%;
            display: flex;
            justify-content: space-between;
			align-items: center;
        }
		&--nav {
			justify-content: end;
			visibility: hidden;
			opacity: 0;    
			position: relative;
			transform: translateY(50px);
		}
		&--logo {
			justify-content: center;
			.cndev_logo {
				cursor: pointer;
			}
		}
		&--nav,
        &--nav ul {
			align-items: center;
			justify-content: center;
        }
		&--nav ul {
			gap: 30px;
            display: flex;
            transition: all 200ms linear;
			a {
				cursor: pointer;
				font-size: 20px;
				font-weight: 100;
				text-transform: uppercase;
			}
		}
		&--scroll {
			visibility: hidden;
			opacity: 0;
			i {
				cursor: pointer;
			}
		}
    } // &_header

    &_section {
		min-height: 100vh;
		// background: linear-gradient(180deg, #00000000 0%, #080708cb 50%, var(--cndev-darker-blue) 100%);
		width: 100%;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;

		p {
			font-size: 20px;
			line-height: 1.7em;
		}

		&--title {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			justify-content: center;
			align-items: center;
			gap: 20px 80px;
			position: relative;
			margin-bottom: 30px;

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
				background: linear-gradient(90deg, #00000000 25%, #ffffffa2 50%, #00000000 75%);
			}

			h2 {
				text-align: center;
				font-size: 50px;
				width: 100%;
				max-width: 450px;
			}

			i {
				font-size: 24px;
				cursor: pointer;
				&:hover {
					transform: scale(1.1);
				}
			}
		} // &--title

        &[data-content="hero"] {
            width: 100dvw;
            height: 100dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: fixed;

			.cndev_section--inner {
				max-width: 1000px;
			}

            .fade-out-effect {
				position: relative;
				font-size: 46px;
				font-weight: 700;
				line-height: 1.7em;
				width: fit-content;
				height: fit-content;
				transition: all 0.3s;

				h1 {
					&::after {
						content: '';
						margin-top: 20px;
						display: block;
						width: 100%;
						height: 1px;
						background: linear-gradient(90deg, #00000000 15%, #ffffffa2 50%, #00000000 85%);
					}
				}
				.buttons {
					margin-top: 30px;
					width: 100%;
					display: flex;
					justify-content: center;
					gap: 20px;

					a {
						font-size: 20px;
						line-height: 1em;
						font-weight: 600;
						padding: 18px 24px;
					}
					a:hover {
						background: #fff;
						color: var(--primary-color);
					}
				}
            } // fade-out-effect
        } // &[data-content="hero"]
		&[data-content="about"] {
            margin-top: 115vh;
			
			.cndev_section--content {
				display: flex;
				align-items: stretch;
				justify-content: center;
				flex-wrap: wrap;
				.selector {
					width: 100%;
					ul {
						display: flex;
						justify-content: center;
						gap: 20px;
						margin-bottom: 50px;
					}
				}
				.left, .right {
					width: 40%;
				}
				.left {
					display: flex;
					justify-content: center;
					padding-right: 75px;
					img {
						object-fit: cover;
						height: 100%;
						width: 100%;
						// max-width: 350px;
						border: 1px solid #fff;
						// border-radius: 50%;
					}
				} // .left
				.right {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					h3 {
						font-size: 42px;
						min-height: 60px;
						margin-bottom: 10px;
						font-family: monospace;
					}
					.separator{
						&::before {
							content: '';
							margin: 15px 0 20px;
							display: block;
							width: 100%;
							height: 1px;
							background: linear-gradient(90deg, #ffffffa2 0%, #00000000 50%);
						}
					}
					p {
						display: none;
					}
					.cndev_social_icons {
						&::before {
							content: '';
							margin: 20px 0 15px;
							display: block;
							width: 100%;
							height: 1px;
							background: linear-gradient(90deg, #ffffffa2 0%, #00000000 30%);
						}
						ul {
							display: flex;
							gap: 10px;
						}
					}
				}
			} // .cndev_section--content
		} // &[data-content="about"]

		&[data-content="projects"] {

			.cndev_section--content {
				display: flex;
				align-items: stretch;
				justify-content: center;
				flex-wrap: wrap;
				gap: 0 75px;

				.project-selector {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 75px;
					width: 100%;
					margin-bottom: 50px;

					&--items, &--filters {
						width: 40%;
					}

					&--items {
						display: flex;
						justify-content: end;
						gap: 15px;

						.project-thumb {
							transition: all 200ms linear;
							cursor: pointer;
							display: flex;
							align-items: center;
							border-radius: 30px;
							gap: 10px;
							font-size: 18px;
							min-width: 46px;
							border: 1px solid transparent;
							position: relative;
							height: 46px;

							a {
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								z-index: 1;
							}

							img {
								width: 45px;
								height: auto;
								border-radius: 50%;
								transition: width 300ms, height 0ms 300ms;
							}

							span {
								margin-left: -250px;
								transition: margin 300ms, opacity 300ms 400ms;
								visibility: hidden;
								opacity: 0;
							}

							&.active {
								background: #fff;
								color: var(--primary-color);	
							}
							&:hover {
								border: 1px solid #fff;
							}
							&:hover,
							&.active {
								padding: 0 14px;
								gap: 0;

								img {
									width: 0px;
									height: 0px;
									visibility: hidden;
								}

								span {
									margin-left: 0;
									visibility: visible;
									opacity: 1;
								}
							}
						}
					}
				}
				
				.left, .right {
					width: 40%;
				}
				.left {
					text-align: right;
					
					&--inner {
						display: none;
						flex-direction: column;
						justify-content: space-between;
						height: 100%;
						
						&.active {
							display: flex;
						}
						h3 {
							font-size: 42px;
							min-height: 60px;
							margin-bottom: 10px;
							font-family: monospace;
						}
						.separator{
							&::before {
								content: '';
								margin: 15px 0 20px;
								display: block;
								width: 100%;
								height: 1px;
								// background: linear-gradient(90deg, #00000000 25%, #ffffffa2 50%, #00000000 75%);
								background: linear-gradient(240deg, #ffffffa2 0%, #00000000 50%);
							}
						}
						.project-links {
							&::before {
								content: '';
								margin: 25px 0 20px;
								display: block;
								width: 100%;
								height: 1px;
								// background: linear-gradient(90deg, #00000000 35%, #ffffffa2 50%, #00000000 65%);
								background: linear-gradient(240deg, #ffffffa2 0%, #00000000 30%);
							}
						}
					}
				} // .left
				.right {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 35px;

					.pc-mockup {
						position: relative;
						width: fit-content;
    					max-width: 408px;
						display: flex;
						justify-content: center;

						.pc-frame {
							top: 0;
							left: 0;
							width: 408px;
							height: 337px;
							background-repeat: no-repeat;
							background-position: center;
							overflow: auto;
							z-index: 1;
						}

						.project-desktop-image {
							padding-top: 10px;
							position: absolute;
							display: none;

							&.active {
								display: initial;
							}

							img {
								height: 235px;
								object-fit: fill;
							}
						}
					}

					.mobile-mockup {
						width: 138px;
						height: 275px;
						display: flex;
						justify-content: center;
						position: relative;

						.mobile-frame {
							width: inherit;
							height: inherit;
							position: relative;
							top: 0;
							left: 0;
							z-index: 1;
							background-repeat: no-repeat;
							background-position: center;
							overflow: auto;
						}

						.project-mobile-image {
							padding-top: 5px;
							position: absolute;
							display: none;

							&.active {
								display: initial;
							}

							img {
								object-fit: fill;
								object-position: 80% center;
								width: 130px;
								height: 265px;
								border-radius: 20px;
							}
						}
					}
				} // .right
			}
		} // &[data-content="projects"]
    } // &_section

	/*
	&_projects {
		display: flex;
		gap: 20px;
		
		.project-wrap {
			background: #fff;
			border-radius: 15px;
			padding: 20px;
			box-shadow: 0px 0px 15px -2px #00000030;
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 100%;

			.project-title-group {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.project-technologies {
					display: flex;
					gap: 10px;

					.tech {
						background: var(--cndev-blue);
						padding: 5px 8px;
						color: #fff;
						font-size: 14px;
						border-radius: 5px;
					}
				}
			}
			.project-images-group {
				img {
					width: 100%;
					height: auto;
				}
			}
			.project-link {
				a {
					background: var(--cndev-red);
					padding: 8px 12px;
					border-radius: 10px;
					color: #fff;
					display: block;
					width: fit-content;
				}
			}
		}
	} // &_projects
	*/

	&_footer {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-bottom: 30px;
		text-align: center;
		&--inner {
			max-width: 1400px;
			margin: 0 auto;
		}
		&--content {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		span {
			font-size: 14px;
			font-weight: 300;
		}
	} // &_footer

	&_404 {
		width: 100dvw;
		height: 100dvh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	} // $_404

	&.scrolled {
		.cndev_header {
			&--content {
				justify-content: space-between;
			}
			&--inner {
				width: 1000px;
				background: linear-gradient(360deg, #0807082a, #00000000);
				backdrop-filter: blur(20px);
			}
			&--logo, &--scroll {
				width: 10%;
			}
			&--logo {
				justify-content: start;
			}
			&--nav {
				width: 100%;
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				transition: opacity 500ms 450ms linear;
			}
			&--scroll {
				visibility: visible;
				opacity: 1;
				text-align: end;
				transition: opacity 500ms 450ms linear;
			}
		}
		.cndev_section {
			.fade-out-effect {
				display: none;
			}
		}
	} // &_scrolled
} // .cndev
